.container {
    border-radius: 10px;
    /* border: 1px solid rgb(226, 218, 218); */
    width: 550px;
    margin-top: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    box-shadow: 0px 0px 8px gray;
}

.for {
    color:#8c15aa;
    margin-left: 20px;

}

.email {
    color: #8c15aa;
}

button {
    width: 400px;
    height: 35px;
    background-color: #8c15aa;
    color: white;
    border: none;
    outline: none;
}

button,
input {
    border-radius: 5px;
    

}

button:hover {
    background-color: #9d37b7;
    color: white;

}

.icon {
    border: 1px solid rgb(235, 234, 234);
    width: 400px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: gray;

}

.input-email {
    border: none;
    height: 100%;
    width: 90%;
    outline: none;
    font-size: small;
}

/* .open:hover{
background-color:white;
color:#9d37b7;
} */