<div class="container">
    <div class="head">
        <h5 class="for" style="font-size: 25px;"><b>Forgot password?</b></h5>
    </div>
    <p class="mt-1" style="text-align: center;font-size: 13px;">
  Please enter your registered email address<br>
  to reset your password.
</p>

    <div class="email mt-2">
        <h6 class="" style="color: black;">Email </h6>
        <div class="icon mt-3">
<span class="material-symbols-outlined mx-2">
mail
</span>
            <input class="input-email" placeholder="Email ">
        </div>
    </div>
    <br>
    <div class="reset">
        <button (click)="otp_checker()"> <b>Send</b> </button>
    </div>
    <div class="mt-4 " >
        <p class="mt-1 " >Remember your password ? <a href="http://localhost:4200/" class="open" style=" color: #8c15aa;"><b>Sign in</b></a></p>
    </div>
</div>