.container {
    border-radius: 10px;
    /* border: 1px solid rgb(226, 218, 218); */
    width: 500px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    box-shadow: 0px 0px 8px gray;
}

.for {
    color: #CE40F3;
    margin-left: 20px;

}

.email {
    color: #CE40F3;
}

button {
    width: 400px;
    height: 35px;
    background-color: #CE40F3;
    color: white;
    border: none;
    outline: none;
}

button,
input {
    border-radius: 5px;
    

}

button:hover {
    background-color: #dd56ff;
    color: white;

}

.icon {
    border: 1px solid rgb(235, 234, 234);
    width: 400px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: gray;

}

.input-email {
    border: none;
    height: 100%;
    width: 90%;
    outline: none;
}