<div class="Maindiv" style="background-color: #C0C9EE;">
    <div class="Admin_title">
        <h2 style="color: #934790;"> Admin Dashboard</h2>
    </div>
    <div>
        <p>Welcome Admin!</p>
    </div>
    <div class="stats" style="display: flex;">
        <div class="total_students d-flex" id="headbox">
            <div class="logo">Logo</div>
            <div>
                <div class="title_label">Total Students</div>
                <div class="total_count">{{total_studentscount}}</div>
            </div>
        </div>

        <div class="total_teachers d-flex" id="headbox">
            <div class="logo">Logo</div>
            <div>
                 <div class="title_label">Total Students</div>
                 <div class="total_count">{{total_teacherscount}}</div>
            </div>
           
        </div>

        <div class="total_courses d-flex" id="headbox">
            <div class="logo">Logo</div>
            <div>
                <div class="title_label">Total Students</div>
                <div class="total_count">{{total_coursecount}}</div>
            </div>
        </div>

    </div>
</div>