.mainDiv {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.form {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 10px;
    width: 32%;
    display: flex;
    padding: 1rem;
}

.heading {
    text-align: center;
    color: #8c15aa;
}

label {
    font-size: 16px;
    font-weight: 500;
}

.input {
    padding-left: 12px;
    width: 100%;
    height: 41px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(199, 197, 197);
    background-color: white;
    font-size: 13px;
}

.button {
    border: none;
    background-color: #8c15aa;
    height: 46px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
}

.button:hover {
    background-color: #9e02c5;
}

.Forget {
    display: flex;
    justify-content: center;
}

input.ng-invalid.ng-touched {
    border: 1.5px solid #ff0000 !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 4px;
}

.checkboxContent {
    font-size: 12px;
}
sup{
    color: red;
    font-size: 15px;
}