.mainDiv {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.form {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 10px;
    width: 58%;
    height: 650px;
    display: flex;
    padding: 1rem;
}

.heading {
    text-align: center;
    color: #CE40F3;
}

label {
    font-size: 20px;
    font-weight: 500;
}

input {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(199, 197, 197);
    background-color: white;
}

button {
    border: none;
    background-color: #CE40F3;
    height: 46px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
}
button:hover{
    background-color: #d661f3;
}
.Forget{
    display: flex;
    justify-content: end;
}
input.ng-invalid.ng-touched {
  border: 1.5px solid #ff0000 !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 4px;
}
