<div class="mainDiv">
    <form class="form d-flex" [formGroup]="form">
        <div class="col-6 px-4">
        <h1 class="heading mt-5 fw-bold">Signup</h1>

        <div class="mt-3">
            <label>Email</label>
            <input type="email" placeholder="abcd@gmail.com" autocomplete="off">
            <div class=" ms-3" style="color: #ff0000 ;font-size: 12px;"
                *ngIf="form.get('Email')?.invalid && (form.get('Email')?.touched || form.get('Email')?.dirty)">
                Please enter your Email
            </div>
        </div>
        <div class="mt-3">
            <label>Role</label>
            <ng-select [items]="roles" placeholder="Select role" formControlName="Roles">
            </ng-select>
            <div class=" ms-3" style="color: #ff0000 ;font-size: 12px;"
                *ngIf="form.get('Roles')?.invalid && (form.get('Roles')?.touched || form.get('Roles')?.dirty)">
                Please select your Roles
            </div>
        </div>
        <div class="mt-3">
            <label>Password</label>
            <input type="password" placeholder="3456789" autocomplete="off">
            <div class=" ms-2" style="color: #ff0000 ;font-size: 12px;"
                *ngIf="form.get('Password')?.invalid && (form.get('Password')?.touched || form.get('Password')?.dirty)">
                Please enter your Password
            </div>
        </div>
        <div class="mt-3">
            <label>Confirm Password</label>
            <input type="password" placeholder="3456789" autocomplete="off">
            <div class=" ms-2" style="color: #ff0000 ;font-size: 12px;"
                *ngIf="form.get('Password')?.invalid && (form.get('Password')?.touched || form.get('Password')?.dirty)">
                Please enter your Password
            </div>
        </div>
        <div class="Forget mt-3">Forget Password?</div>
        <button class="mt-4 px-4" (click)="onSubmit()">Sign up</button>
</div>
    <div class="col-6">
        <img src="assets/signup.png">
    </div>

    </form>
</div>