<div class="mainDiv">
    <form class="form d-flex" [formGroup]="form">
        <div class="col-12 px-4">
            <h1 class="heading mt-4 fw-bold">Signup</h1>

            <div class="mt-3">
                <label>Email</label>
                <input class="mt-2" type="email" placeholder="abcd@gmail.com" autocomplete="off"
                    formControlName="Email">
                <div class=" ms-3" style="color: #ff0000 ;font-size: 12px;"
                    *ngIf="form.get('Email')?.invalid && (form.get('Email')?.touched || form.get('Email')?.dirty)">
                    Please enter your Email
                </div>
            </div>
            <div class="mt-3">
                <label>Role</label>
                <ng-select class="mt-2" [items]="roles" placeholder="Select role" formControlName="Role">
                </ng-select>
                <div class=" ms-2" style="color: #ff0000 ;font-size: 12px;"
                    *ngIf="form.get('Role')?.invalid && (form.get('Role')?.touched || form.get('Role')?.dirty)">
                    Please select your Role
                </div>
            </div>
            <div class="mt-3">
                <label>Password</label>
                <input class="mt-2" type="password" placeholder="3456789" autocomplete="off" formControlName="Password">
                <div class=" ms-2" style="color: #ff0000 ;font-size: 12px;"
                    *ngIf="form.get('Password')?.invalid && (form.get('Password')?.touched || form.get('Password')?.dirty)">
                    Please enter your Password
                </div>
            </div>
            <div class="mt-3">
                <label>Confirm Password</label>
                <input class="mt-2" type="password" placeholder="3456789" autocomplete="off"
                    formControlName="Repassword">
                <div class=" ms-2" style="color: #ff0000 ;font-size: 12px;"
                    *ngIf="form.get('Repassword')?.invalid && (form.get('Repassword')?.touched || form.get('Repassword')?.dirty)">
                    Please re enter your Password
                </div>
            </div>
            <button class="mt-5 px-4 col-12" (click)="onSubmit()">Sign up</button>
            <div class="harizontal mt-4"></div>
            <div class="Forget mt-3">Already have an account?<span><a href="" style="color: #8c15aa"
                        (click)="signin()">Sign in</a></span></div>

        </div>
        <!-- <div class="col-6">
            <img src="assets/signup.png">
        </div> -->

    </form>
</div>