<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card p-4 shadow">
        <div class="card-body">

          <h2 class="text-center mb-4 fw-bold" style="color: #8c15aa;">Sign In</h2>

          <div class="mb-3 position-relative">
            <label class="form-label">Email</label>
            <span class="material-symbols-outlined input-icon">mail</span>
            <input type="email" class="form-control ps-5" placeholder="Enter email">
          </div>

          <div class="mb-1 position-relative">
            <label class="form-label">Password</label>
            <span class="material-symbols-outlined input-icon">key</span>
            <input type="password" class="form-control ps-5" placeholder="Enter password">
          </div>

          <div class="text-end mb-3">
            <p class="mb-0" style="cursor: pointer;" (click)="fogetcall()">Forgot Password?</p>
          </div>
          
          <div class="d-grid mb-4">
            <button class="btn btn-secondary" style="background-color: #8c15aa;">
              Log In
            </button>
          </div>

          <div class="d-flex align-items-center my-3">
            <div class="flex-grow-1 border-bottom"></div>
            <span class="mx-2">or</span>
            <div class="flex-grow-1 border-bottom"></div>
          </div>

          <div class="d-grid mb-4">
            <button class="btn btn-light d-flex align-items-center justify-content-center gap-2">
              <img src="assets/googlelogo.jpg" alt="Google logo" width="20" height="20">
              <span>Sign in with Google</span>
            </button>
          </div>

          <div class="text-center">
            <p>
              Don't have an account?
              <a href="/signup"  style="color: #8c15aa;"><b>Sign up</b></a>
            </p>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="col-12 col-md-6 col-lg-5 text-center">
      <img src="assets/login.jpg" class="img-fluid" alt="Login image">
    </div> -->

  </div>
</div>
